<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Demo html</title>
  </head>
  <body>
    <h1>Serving static files using app.use(express.static('/public'))</h1>
    <div class="container-card">
      <h2>Static files Demo</h2>
      <img src="../images/express.png" alt="Expressjs image" />
      <p>This is a demo of hotel booking app created using express js.</p>
      <p>
        Using this file we are learning how static files can be served from our
        nodejs backend
      </p>
    </div>
  </body>
</html>
